.icon-c{
border: 5px solid #FFF;
border-radius: 0% 12px / 0% 12px;
width: 3vw;
height:  3vw;
top: -2%;
right: 2%;
}
.btn-card{
    animation: slideaway 1s ease-in-out;
    display: none;
}
.card{

}
.card:hover{

    .btn-card{
        animation-delay: 1s;
        display: block;

    }
}
@keyframes slideaway {
    from { display: none;  }
    to { display: block; }
  }
