.logo{
    font-family: Bungee;
    color: var(--violet);
}
.logo:hover{
    color: var(--violet);

}
.crea{

}
.crea:hover{
    color: var(--violet);

}
.user{
    border-radius: 100% !important;

}
.search{
    font-family:Arial, FontAwesome
}
