:root {
    --violet: #AA9EFF;
    --violet-d: #8C7FF0;
    --lite-d: #ECEFF7;
    --lite: #ffffff;
    --grey: #9496A1;

}
.f-lato{
font-family: 'Lato';
}
.f-Bungee{
    font-family: Bungee;
}
.bg-violet{
    background-color: var(--violet) !important;
}
.c-violet{
    color: var(--violet)!important;

}
.bg-violet-d{
    background-color: var(--violet-d)!important;
}
.c-violet-d{
    color: var(--violet-d)!important;

}
.bg-lite{
    background-color: var(--lite)!important;
}
.c-lite{
    color: var(--lite)!important;

}
.bg-lite-d{
    background-color: var(--lite-d)!important;
}
.c-lite-d{
    color: var(--lite-d)!important;

}
.bg-grey{
    background-color: var(--grey)!important;
}
.c-grey{
    color: var(--grey)!important;

}

.fws-1{
    font-size: 1vw;
}
